* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Source Sans 3', sans-serif;
}

html,
body {
	// Font size defined by the browser
	font-size: 100%;
}
